{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/catagories/catagory-index.css' %}"
/>
{% endblock %} {% block content %}

<h1>Catagories for managing post it notes!</h1>
<section class="card-container">
  {% for catagory in catagory_list %}
  <div class="card">
    <a href="{% url 'catagory-detail' catagory.id %}">
      <div class="card-content">
        <h2>#{{ catagory.tag }}</h2>
      </div>
    </a>
  </div>
  {% endfor %}
</section>

{% endblock %}
