{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/postits/postit-detail.css' %}" />
{% endblock head %} {% block content %}
<section class="postit">
  <div>
    <h1>{{postit.title}}</h1>
    <h3>{{posit.imporance}}</h3>
    <p>{{postit.text}}</p>

    <div class="postit-actions">
      <a href="{% url 'postit-update' postit.id %}">Edit</a>
      <a href="{% url 'postit-delete' postit.id %}">Delete</a>
    </div>
  </div>
  </section>

<section class="catagories"> 
  <div class="subsection-content">
    <h3>{{ postit.title }}'s Catagories</h3>
    {% if postit.catagories.count %} 
      {% for catagory in postit.catagories.all %}
        <div class="catagory-container">
          <div class="color-block" style="background-color: {{ postit.color }}"></div>
          <a href="{% url 'catagory-detail' catagory.id %}">
            <p>A {{ catagory.tag }} tag</p>
          </a>
          <form action="{% url 'remove-catagory' postit.id catagory.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Remove Catagory</button>
          </form>

        </div>
      {% endfor %} 
    {% else %}
      <p class="no-catagories">{{postit.title}} doesn't have any catagories!</p>
    {% endif %}
  </div>


  <div class="subsection-content">
    <h3>Available Catagories</h3>
  {% if catagories.count %} 
    {% for catagory in catagories.all %}
      <div class="catagory-container">
        <div class="color-block" style="background-color: {{ postit.color }}"></div>
        <a href="{% url 'catagory-detail' catagory.id %}">
          <p>{{ catagory.tag }} tag</p>
        </a>
        <form action="{% url 'associate-catagory' postit.id catagory.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn submit">Give Catagory</button>
        </form>
      </div>
    {% endfor %} 
  {% else %}
    <p class="all-catagories">{{postit.title}} already has all the available catagories 🥳</p>
  {% endif %}
</div>
</section>



<div class="reminder-container">
  <section class="reminders">
    <div class="subsection-title">
      <h2>Reminders</h2>
    </div>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Time of Day</th>
          <th>To Do</th>
        </tr>
      </thead>
      <tbody>
        {% for reminder in postit.reminder_set.all %}
        <tr>
          <td>{{reminder.date}}</td>
          <td>{{reminder.get_time_of_day_display}}</td>
          <td>{{reminder.todo}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
  <div class="reminder-form">
  <form
  action="{% url 'add-reminder' postit.id %}"
  method="post"
  class="subsection-content"
  autocomplete="off"
  >
  <h3>Add a Reminder</h3>
  {% csrf_token %} 
  {{ reminder_form.as_p }}
  <button type="submit" class="btn submit">Add Reminder</button>
</form>
</div>
</div>

</section>


{% endblock %}
